.scenario h3
{
    background-color: #eaeaea;
    padding: 10px;
    font-size: 100%;
    margin-bottom: 0
}

.scenario .tags 
{
    background-color: #f9f9f9;
    margin: 0;
    padding: 10px;
    text-align: center;
}

.scenario .steps {
    padding: 0px 10px 20px 10px;
}

.label a { color: #ffffff; }

#navbar { margin-bottom: 0 }

.label-passed{background-color:#18bc9c}
.label-skipped{background-color:#95a5a6}
.label-failed{background-color:#e74c3c}



/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
  background-color: #fdf7f7;
  border-color: #eed3d7;
}
.bs-callout-danger h4 {
  color: #b94a48;
}
.bs-callout-warning {
  background-color: #faf8f0;
  border-color: #faebcc;
}
.bs-callout-warning h4 {
  color: #c09853;
}
.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}
.bs-callout-info h4 {
  color: #3a87ad;
}
